spec/context.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://contextkit.freedesktop.org/Provider" xmlns:provider="http://contextkit.freedesktop.org/Provider" xmlns="http://www.w3.org/2001/XMLSchema" xml:lang="EN" elementFormDefault="qualified">


  <annotation>
    <documentation>
      Documentation for ContextKit Provider schema.
      Copyright 2009 Nokia Corporation.
    </documentation>
  </annotation>

  <annotation>
    <documentation>
      This schema is free software; you can redistribute it and/or
      modify it under the terms of the GNU Lesser General Public License
      as published by the Free Software Foundation; either version 2.1 of
      the License, or (at your option) any later version.
    </documentation>
  </annotation>

  <annotation>
    <documentation>

      This schema is distributed in the hope that it will be useful, but
      WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
      Lesser General Public License for more details.
    </documentation>
  </annotation>

  <annotation>
    <documentation>
      You should have received a copy of the GNU Lesser General Public
      License along with this library; if not, write to the Free Software
      Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
      02110-1301 USA
    </documentation>
  </annotation>

  <simpleType name="dbus_bus_type">
    <annotation><documentation>
      Represents a standard D-Bus bus type.
    </documentation></annotation>
    <restriction base="string">
      <enumeration value="system"/>
      <enumeration value="session"/>
    </restriction>
  </simpleType>

  <element name="provider">
    <annotation><documentation>
      A top-level declaration of a context-providing service using the
      ContextKit framework.
    </documentation></annotation>

    <complexType>
      <sequence>
        <element minOccurs="0" ref="provider:doc"/>
        <element name="root">
          <complexType>
            <group maxOccurs="unbounded" ref="provider:node"/>
          </complexType>
        </element>
      </sequence>
      <attribute name="bus" use="required" type="provider:dbus_bus_type">
	<annotation><documentation>
	    Which standard D-Bus bus this service can be activated on
	</documentation></annotation>
      </attribute>
      <attribute name="service" use="required" type="NCName">
	<annotation><documentation>
	  The bus name of the service that will provide these keys.
	  This service must be activatable on the bus specified in "bus".
	</documentation></annotation>
      </attribute>
    </complexType>
  </element>

  <group name="node">
    <annotation><documentation>
	A node in the tree of provided context.
	A node can have children that are keys or nodes.
    </documentation></annotation>
    <sequence>
      <element name="node">
        <complexType>
          <sequence>
            <element minOccurs="0" ref="provider:doc"/>
            <choice>
              <group minOccurs="0" maxOccurs="unbounded" ref="provider:node"/>
              <group minOccurs="0" maxOccurs="unbounded" ref="provider:key"/>
            </choice>
          </sequence>
	  <attribute name="name" use="required" type="NCName">
	    <annotation><documentation>
		The name of the node.
	    </documentation></annotation>
	  </attribute>
        </complexType>
      </element>
    </sequence>
  </group>
  <element name="doc" type="string">
    <annotation><documentation>
	Documentation about a key or node.
    </documentation></annotation>
  </element>

  <group name="key">
    <sequence>
      <element name="key">
        <complexType>
          <sequence>
            <element minOccurs="0" ref="provider:doc"/>
          </sequence>
	  <attribute name="name" use="required" type="NCName">
	    <annotation><documentation>
	      The name of this key.
	    </documentation></annotation>
	  </attribute>
	  <attribute name="type" use="required" type="provider:context-type">
	    <annotation><documentation>
	      The type of this key.
	    </documentation></annotation>
	  </attribute>
        </complexType>
      </element>
    </sequence>
  </group>

  <simpleType name="context-type">
    <annotation><documentation>
	The type of a simple context key.
    </documentation></annotation>
    <restriction base="string">
      <enumeration value="INT"/>
      <enumeration value="DOUBLE"/>
      <enumeration value="STRING"/>
      <enumeration value="TRUTH"/>
    </restriction>
  </simpleType>
</schema>
