spec/context.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://contextkit.freedesktop.org/Provider" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:r="http://contextkit.freedesktop.org/Provider" elementFormDefault="qualified">

  <annotation>
    <documentation xml:lang="en">
      Documentation for ContextKit Provider schema.
      Copyright 2009 Nokia Corporation.
    </documentation>
  </annotation>

  <annotation>
    <documentation xml:lang="en">
      This schema is free software; you can redistribute it and/or
      modify it under the terms of the GNU Lesser General Public License
      as published by the Free Software Foundation; either version 2.1 of
      the License, or (at your option) any later version.
    </documentation>
  </annotation>

  <annotation>
    <documentation xml:lang="en">

      This schema is distributed in the hope that it will be useful, but
      WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
      Lesser General Public License for more details.
    </documentation>
  </annotation>

  <annotation>
    <documentation xml:lang="en">
      You should have received a copy of the GNU Lesser General Public
      License along with this library; if not, write to the Free Software
      Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
      02110-1301 USA
    </documentation>
  </annotation>
  <element name="provider">
    <complexType>
      <sequence>
        <element minOccurs="0" ref="doc"/>
        <element name="root">
          <complexType>
            <group maxOccurs="unbounded" ref="node"/>
          </complexType>
        </element>
      </sequence>
      <attribute name="service" use="required" type="NCName"/>
    </complexType>
  </element>
  <group name="node">
    <sequence>
      <element name="node">
        <complexType>
          <sequence>
            <element minOccurs="0" ref="doc"/>
            <choice>
              <group minOccurs="0" maxOccurs="unbounded" ref="node"/>
              <group minOccurs="0" maxOccurs="unbounded" ref="key"/>
            </choice>
          </sequence>
          <attribute name="name" use="required" type="NCName"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <element name="doc" type="string"/>
  <group name="key">
    <sequence>
      <element name="key">
        <complexType>
          <sequence>
            <element minOccurs="0" ref="doc"/>
            <element minOccurs="0" maxOccurs="unbounded" ref="enumerator"/>
          </sequence>
          <attribute name="name" use="required" type="NCName"/>
          <attribute name="type" use="required" type="typetype"/>
        </complexType>
      </element>
    </sequence>
  </group>
  <element name="enumerator">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" ref="enumerator"/>
      </sequence>
      <attribute name="name" use="required" type="NCName"/>
      <attribute name="value" use="required" type="integer"/>
    </complexType>
  </element>
  <simpleType name="typetype">
    <restriction base="string">
      <enumeration value="INT"/>
      <enumeration value="DOUBLE"/>
      <enumeration value="STRING"/>
      <enumeration value="TRUTH"/>
      <enumeration value="ENUM"/>
    </restriction>
  </simpleType>
</schema>
